@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  background-image: url("../public/background.png");
  background-size: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
}

.about {
  background-color: white;
  display: flex;
  color: black;
  padding: 50px;
  border-radius: 50px;
}

.description {
  text-align: left;
}

.align-left {
  text-align: left
}